<!DOCTYPE html>
<html>
<head>
  <title>LoopRecall</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <link href="http://loop-recall-assets.s3-us-west-1.amazonaws.com/css/style.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="http://loop-recall-assets.s3-us-west-1.amazonaws.com/css/grid12.css" media="all">
  <link rel="stylesheet" href="http://loop-recall-assets.s3-us-west-1.amazonaws.com/css/solarized_dark.min.css" media="all">
</head>
<body>
  <script src="http://loop-recall-assets.s3-us-west-1.amazonaws.com/material_ui.min.js" type="text/javascript"></script>
  <div id="app"></div>
  <script src="http://loop-recall-assets.s3-us-west-1.amazonaws.com/loop_recall.js" type="text/javascript"></script>
</body>
</html>
